@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&family=Sacramento&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: montserrat, sans-serif;
    font-weight: 300;
    color: darkslategray
}

a:link {
    text-decoration: none;
}

/* logo and navigation links */

#logo {
    display: flex;
    justify-content: flex-start;
}

#logo {
    font-family: sacramento, sans-serif;
    font-size: 300%;
    color:#bc5a41;
    margin: 10px 10 px;
    padding: 10px;
}

#links {
    display: flex;
    list-style: none;
    justify-content: flex-end;    
}

#links > li {
    margin: 10px;
        
}





