@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Josefin+Sans&family=Parisienne&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Josefin Sans, sans-serif;
    font-weight: 400;
    font-size: 18px;
    background-color: #eeecec;
    color: #564146;
}

h2 {
    font-family: Amatic SC, sans-serif;
    font-size:350%;    
    text-decoration: underline #564146;
}

/* logo and navigation links */

#logo {
    font-family: Parisienne, sans-serif;
    font-size: 300%;
    margin: 20px 100px;
    padding: 20px; 
    text-align: center;    
}

.nav-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;        
}

.nav-bar a {
    color:#73181E;
    text-decoration: none;
}

.links {
    list-style: none;
    margin-left: 100px;
    padding-left: 20px;   
}

.links .list-items {
    display: inline-block;
    font-size: 18px;
    margin: 0 20px; 
}

.list-items a:hover {
    font-size: 28px;
}

.current {
    border-bottom: 1px solid #465651;
}
    
/* header image */

#contain-headerimg {
    display: flex;
    justify-content: center;
    align-items: center;    
}

#contain-headerimg #header-image {
    display: flex;
    min-height: 600px;
    width: 600px;
    width: 100%;
    background: url('../images/pavlova-net.webp') no-repeat center center;
    background-color: #eeecec;
    background-size: cover;
}

/* About me */

.head-contain {
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
    padding: 20px 0 20px 0;
}

.abt-me {
    display: flex;
    justify-content: space-around;
    align-items: center;    
}

.abt-me > img {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    margin: 10px;
    padding: 10px;   
}

.abt-me > p {
    text-align: left;
    line-height: 1.8;
    margin: 10px;
    padding: 10px; 
}

/* Gallery */
 
.photo-contain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 20px;
    padding: 10px;    
}

.photo-contain .pictures {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    gap:5px;
    
}

.photo-contain .pictures .column {
    display: flex;
    flex-direction: column;
    width: 33%;
    gap:5px;
}

/* testimonials section */

.reviews {
    display: flex;    
    justify-content: space-around;
    align-items: center;  
    text-align: center;
    margin: 20px;
    padding: 10px;
    color:#130917;
    line-height: 1.1;
}

.reviews #tudor {
    max-width: 200px;
    min-height: 200px;
    padding: 2% 1% 0 1%;
    background-color:rgba(193, 93, 239, 1.0);
    border-radius: 10px;					 
} 

.reviews #severine {
    max-width: 275px;
    min-height: 275px;
    padding: 1em;
    background-color: rgba(239, 93, 139, 1.0);
    border-radius: 10px;
}

.reviews #anca {
    max-width: 200px;
    min-height: 200px;
    padding: 3% 1% 0 1%;
    background-color:rgba(239, 193, 93, 1.0);
    border-radius: 10px;
}

/* Shop page */
/*layer cakes */
.shop h2 {
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
    padding: 20px 0 20px 0;
}

.shop h3 {
    text-align: center;
    margin: 20px 0;
    padding: 10px 0;
}

.container-text1 {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    padding: 20px 30px 0 30px;
    gap: 30px;
}

.container-pic1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-pic1 .layer-cakes {
    display: flex;
    justify-content: center;
    margin:20px 0;
    padding: 10px;
    gap: 10px;  
}

.container-pic1 .layer-cakes img {
    width: 400px;
    height: 400px;
    border-radius: 10%;
}

.layer-cakes figcaption {
    text-align: center;
}

.shop aside {
    display: flex;
    flex-direction: column;
    background-color: #ef5d8b;
    color: #130917;
    font-style: italic;
    margin: 0 100px;
    padding :40px 0 0 20px;
    min-height: 200px;
 }
 

/* cheesecakes */

.container-text2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px 30px 0 30px;
}

.container-pic2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-pic2 .cheesecake-pic {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
    gap: 20px;     
}

.container-pic2 .cheesecake-pic img {
    width: 400px;
    height: 400px;
    border-radius: 10%;
}

.cheesecake-pic figcaption {
    text-align: center;
}

/* Cupcakes */

.container-text3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px 30px 0 30px;
    text-align: justify;
}

.container-pic3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-pic3 .cupcakes {
    display: flex;
    justify-content: center;
    margin:20px 0;
    padding: 10px;
    gap: 8px;
}

.container-pic3 .cupcakes img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 10%;
}

.cupcakes figcaption {
    text-align: center;
}

/* Contact form */

.contact-main {
    background-image: url('../images/order-box.webp');
    background-size: cover;
    background-attachment: fixed;
}

.cont-me1 p {
    text-align: center;
}

.cont-me {
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;
    padding: 20px 0 20px 0;  
}

.cont-me form {
    justify-content: center;
    border:5px solid #ef5d8b;
    border-radius: 10px;
    color:whitesmoke;
    max-width: 850px;
    padding: 20px;
}

.cont-me form h2 {
    text-decoration: underline whitesmoke;
}

.cont-me1 legend {
    font-size: 20px;
    font-weight: bold;
} 

input[type=text] {
    width: 100%;
    background-color:rgba(236, 238, 236, 0.3);
    border-color: rgba(236, 238, 236, 0.3);
    box-sizing: border-box;
    border-radius: 5px;
    color:whitesmoke;
    font-size: 18px;
    font-weight: bold;
    margin-top: 8px;
    padding: 10px;
}

select {
    width: 85px;
    background-color:rgba(236, 238, 236, 0.3);
    border-color: rgba(236, 238, 236, 0.3);
    border-radius: 5px;
    color:whitesmoke;
    font-size: 18px;
    font-weight: bold;
    margin-top: 8px;
    padding: 10px;
}

select:hover {
    color:black;
}

input[type=tel] {
    width: 76%;
    background-color:rgba(236, 238, 236, 0.3);
    border-color: rgba(236, 238, 236, 0.3) ;
    border-radius: 5px;
    color:whitesmoke;
    font-size: 18px;
    font-weight: bold;
    margin-top: 8px;
    padding: 10px;   
}

::placeholder {
    color: whitesmoke;
}

textarea {
    background-color:rgba(236, 238, 236, 0.3);
    border-color: rgba(236, 238, 236, 0.3);
    border-radius: 5px;
    color:whitesmoke;
    font-size: 18px;
    font-weight: bold;
    margin-top: 8px;
    padding: 10px;   
}

input[type=submit] {
    background-color: #ef5d8b;
    border-color: rgba(239, 93, 139, 0);
    border-radius: 5px;
    color:whitesmoke;
    font-size: 18px;
    font-weight: bold;
    margin-top: 8px;
    padding: 10px;
}

input[type=submit]:hover {
    background-color:whitesmoke;
    color: #ef5d8b;
}


/* Footer section */

.bottom {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:#5defc1;
    min-height: 150px;
    padding: 20px;
}

.social-links {
    list-style: none;
}

.bottom i {
    align-items: center;
    font-size: 30px;   
    color: #564146;
}

.container-1 li {
    display: inline-block;
    line-height: 4;
}

.container-1 i {
    padding: 0 3.3px;
}

.container-2 {
    text-align: center;
}

.container-2 i {
    font-size: 20px;
}



/*THANK YOU  */

main {
    background-image: url('../images/picture-14.webp');
    background-color: #eeecec;
    background-size: cover;
    background-attachment: fixed;
}
.contain-thanks {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.th-message {
    background-color: rgba(245, 245, 245, 0.1);
    color: #EE3E95;
    font-size: 20px;
    text-align: center;
    letter-spacing: 4px;
    line-height: 2;
    width: 500px;
    height: 500px;
    margin: 50px;
    padding: 70px;   
    
}

.th-message h2 {
    text-decoration: underline #EE3E95;
}

/* Media queries */
/* Large to medium screens until px */
@media screen and (max-width:1341px) {
    .links .list-items {
        display: list-item;
    }
    
    .reviews {
        flex-direction: column;
        gap: 10px;
    }
  
}
     
/* Medium screens until 950px*/
@media  screen and (max-width: 950px)  {
    .shop aside {
       flex-direction: column;
       padding-right: 10px;
    }  
    
    .abt-me, .container-1, .container-2, .container-3, .bottom, .container-text1, .container-pic1 .layer-cakes,
     .container-pic2 .cheesecake-pic, .container-pic3 .cupcakes  {
        flex-direction: column;
    }
     
    .contain-thanks {
        justify-content: center;
    }   
    
}

/* Small screens until 600px */
@media  screen and (max-width: 600px) {
    .photo-contain .pictures {
       flex-direction: column;
       margin: 0 auto;
    }
    
    .cont-me form {
        justify-content: center;
        padding-right: 20px;
        margin-right: 10px;
    }

    .nav-bar {
        justify-content: space-between;
    }

    #logo {
        font-size: 150%;
        margin-right: 0;
        margin-left: 0;
    }

    .links {
        margin-right: 0;
        margin-left: 0;
    }

    .reviews {
        flex-direction: column;
        gap: 10px;
    }

}

