@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&family=Sacramento&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: darkslategray;
}

/* logo and navigation links */

#logo {
    font-family: sacramento, sans-serif;
    font-size: 300%;
    margin-bottom: 10px;     
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;        
}

.links {
    list-style: none;
}

 .links .list-items {
    display: inline-block;
    margin: 0 10px;    
}

.nav-bar a {
    color: #bc5a41;
    text-decoration: none;
}

.list-items a:hover {
    color: black;
}

.current {
    border-bottom: 1px solid black;
}
    
/* header image */

#header-image {
    height: 600px;
    width: 100%;
    background: url('../images/Pavlova-net.webp');
    background-size: cover;   
}

/* About me */

#welcome {
    text-align: center;
    font-family: Sacramento, sans-serif;
    font-size: 50px;
    margin: 10px 0 10px 0;
    padding: 10px  0 10px 0;
 
}

.abt-me {
    display: flex;
    justify-content: space-around;
    align-items: center;    
}

.abt-me > img {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    margin: 10px 0 10px 0;    
}

.abt-me > p {
    text-align: center;
    line-height: 2.5;
}

/* Gallery */
 
.container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
       
}

.container .pictures {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.container .pictures .column {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.container .pictures .column img {
    width: 100%;
}


 











